.container-2lgZY8,
.container-1r6BKw,
.channels-Ie2l6A,
.header-1R_AjF,
.react-datepicker__header,
.layer-3QrUeG,
.layers-3iHuyZ,
.chat-3bRxxu,
.channelTextArea-rNsIhG,
.content-yTz4x3,
.messagesWrapper-3lZDfY,
.chat-3bRxxu form,
.members-1998pB,
.headerBar-UHpsPw,
.standardSidebarView-3F1I7i,
.typing-2GQL18,
.panels-j1Uci_,
.stickyHeader-1pqx0j,
.headerBar-UHpsPw,
.wrapper-1BJsBx,
.inner-3nWsbo,
.channelName-1QajIf,
.da-disabled,
.media-engine-video {
    background: transparent !important;
}

#friends,
.root-1BQpZw,
.wrapper-1Rf91z,
.activityFeed-28jde9,
.gameLibrary-TTDw4Y,
.applicationStore-1pNvnv,
.contentRegion-3nDuYy,
.noChannel-Z1DQK7,
.container-3gCOGc,
.container-PNkimc,
.privateChannels-1nO12o,
.sidebarRegion-VFTUkN,
.themeDark-3Ap_7i,
.chat-3bRxxu,
.typeWindows-1za-n7,
.container-3w7J-x,
.scrollableContainer-2NUZem,
.panels-j1Uci_,
.container-1UB9sr,
.container-3baos1,
.container-1giJp5,
.container-1D34oG,
.activityFeed-1C0EmJ,
.da-container {
    background: transparent !important;
    background-color: var(--transparency) !important;
}

// Discord disable background variables
.theme-dark {
    --background-primary: none;
    --background-secondary: none;
    --background-tertiary: none;
    --background-accent: none;
}